<fieldset>
    <legend></legend>

    <label for="name"> First Name</label>
    <input id="name" type="text" placeholder=""><br />

    <label for="dateofbirth"> Date of birth </label>
    <input id="dateofbirth" type="date"><br />

    <label for="location"> Place of residence </label>
    <input id="location" type="text" placeholder=""><br />

    <label for="gender" id="gender"> Gender </label>
    <p><input id="gender" type="radio" name="gender" value="men" /> Men
        <input id="gender" type="radio" name="gender" value="women" checked="checked" />Woman</p>

    <label for="orientation" id="orientation"> I'm looking for a </label>
    <p><input id="orientation" type="checkbox" name="orientation" value="men" checked="checked" /> Men
        <input id="orientation" type="checkbox" name="orientation" value="woman" /> Woman</p>

    <label for="agefrom"> minimum age</label>
    <input id="agefrom" type="text" placeholder="">
    <label for="agetill"> maximum age</label>
    <input id="agetill" type="text" placeholder=""><br />