<% include partials/head %>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="search"><img src="/images/back.png" alt="back"></a>
                    </li>
                    <li>
                        <h2> Create account </h2>
                    </li>
                </ul>
            </nav>
        </header>

        <section id="createaccount">
            <form action="createaccount3" method="get">
                <% include partials/form %>
                    <label for="profilepicture">Choose a profile picture</label>
                    <input type="file" id="profilepicture" name="profilepicture" accept="image/png, image/jpeg"><br />
                    <img src="images/girl_square.png" alt="gebruiker"><br />
                    <a href="search"><input id="button" type="submit" name="login" value="Next step" /></a>
            </form>
            </fieldset>
            </form>
        </section>

    </body>

    </html>