<% include partials/head %>

 <body>
        <section id="login">
    <H1>Sorry, we can't find the page you're looking for..</H1>
    <H3>But we can find your dreammatch!</H3>
    <a href="search"><button>Find my dreammatch</button></a>
</section>
</body>
</html>