<% include partials/head %>

<body>

    <!-- Menu bovenaan de pagina -->

    <header>
        <h2> Notifications </h2>
    </header>

    <section id="notifications">
        <article><img src="images/jeroenvierkant.jpg" alt="gebruiker jeroen">
        <p>Name and you are a match</p></article>

         <article><img src="images/jeroenvierkant.jpg" alt="gebruiker jeroen">
        <p>Name sends you a flirt</p></article>


       </section>

       <footer>
        <nav>
            <ul>
                <li>
                    <a href="profile.html"> <img src="images/person.png" alt="profile" title="profile page"></a></li>
                <li>
                    <a href="search.html"> <img src="images/magnifier.png" alt="search" title="search page"></a></li>
                <li><a href="notifications.html"><img src="images/bell_orange.png" alt="notifications" title="notifications page"></a></li>
            </ul>
        </nav>
    </footer>

    <script type="text/javascript" src="script/script.js"></script>

    </body>

</html>
