<% include partials/head %>

<body>

    <!-- Menu bovenaan de pagina -->

    <header>
        <h2> Your Profile </h2>
        <a href="settings.html"><img src="images/settings.png" alt="settings"></a>

    </header>

    <section id="profile">
        <img src="images/girl_square.png" alt="gebruiker">
        <div><p>Name:</p>
        <p>Age:</p>
        <p>Location:</p></div>
    </section>

    <section id="your_interests">
        <h3> Your interests</h3>

        <article> <img src="images/climbing.png" alt="interest climbing" class="interest">
            <div><h4>Climbing</h4>
            <img src="images/pencil.png" alt="change" title="change interest"></div>
        </article>

        <article> <img src="images/ski.png" alt="interest ski" class="interest">
             <div><h4>Ski</h4>
                 <img src="images/pencil.png" alt="change" title="change interest"></div>
        </article>

        <article> <img src="images/cooking.png" alt="interest cooking" class="interest">
            <div><h4>Cooking</h4>
            <img src="images/pencil.png" alt="change" title="change interest"></div>
        </article>

        <article> <img src="images/mounteverest.png" alt="mount everest" class="interest">
             <div><h4>Climb Mount everest</h4>
            <img src="images/pencil.png" alt="change" title="change interest"></div>
        </article>

        <article> <img src="images/dog.png" alt="interest dogs" class="interest">
             <div><h4>Dogs</h4>
            <img src="images/pencil.png" alt="change"></div>
        </article>

        <article> <img src="images/code.png" alt="interest code" class="interest">
            <div><h4>Code</h4>
           <img src="images/pencil.png" alt="change" title="change interest" ></div>
        </article>


    </section>

    <footer>
        <nav>
            <ul>
                <li>
                    <a href="profile.html"> <img src="images/person_orange.png" alt="profile" title="profile page" ></a></li>
                <li>
                    <a href="search.html"> <img src="images/magnifier.png" alt="search title="search page></a></li>
                <li><a href="notifications.html"><img src="images/bell.png" alt="notifications" title="notifications page"></a></li>
            </ul>
        </nav>
    </footer>



    <script type="text/javascript" src="script/script.js"></script>
</body>

</html>
