@font-face {
    font-family: 'Avenir_Light';
    src: url('Avenir_Light.otf');
}

@font-face {
    font-family: 'Avenir_Book';
    src: url('Avenir_Book.otf');
}

@font-face {
    font-family: 'Avenir_Black';
    src: url('Avenir_Black.otf');
}

@font-face {
    font-family: 'Strawberry_Blossom';
    src: url('Strawberry_Blossom.otf');
}

h1 {
    font-family: 'Strawberry_Blossom';
    font-size: 4.5em;
    font-weight: 500;
}


h2,
legend {
    font-family: 'Strawberry_Blossom';
    font-size: 3em;
    font-weight: 100;
}

h3 {
    font-family: 'Avenir_Black';
    font-size: 1.3em;
    font-weight: 900;
}

h4,
fieldset label {
    font-family: 'Avenir_Black';
    font-size: 1.2em;
    font-weight: 100;
}

p,
a {
    font-family: 'Avenir_Light';
    font-size: 1em;
    font-weight: 100;
}


body {
    color: #202020;
    width: 100%;
    margin: 0;
    background: #ffffff;
}

* {
    box-sizing: border-box;
}

/* Login page */

section#logo {
    background-color: #ebbab5;
    margin: 0em;
    padding: 1em;

}

section#logo img[alt="logo_intermatching"] {
    width: 60%;
    max-width: 19em;
    margin: 0 auto;
    padding-top: 2em;
    display: block;
}

section#logo h1 {
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

section#login {
    background-color: #ebbab5;
    color: #ffffff;
    padding: 0 1em 1em 1em;
}


section#login form fieldset {
    border: none;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    max-width: 25em;
}

section#login form fieldset label {
    margin: 0.3em 0 0.3em;
}

section#login form fieldset input {
    padding: .7em .7em .7em 1em;
    width: 100%;
    border-radius: 2em;
    border: none;
    font-family: 'Avenir_Light';
    font-size: 90%;
}


section#login form fieldset [type=submit] {
    font-family: 'Avenir_Light';
    font-size: 1em;
    background-color: #c58747;
    color: #ffffff;
    padding: .7em 0;
    border-radius: 2em;
    margin: 1.5em auto;
    width: 100%;
    border: none;
}

section#login form article {
    text-align: center;

}

section#login form article a {
    color: #ffffff;
}

/*Header*/

header {
    background-color: #c58747;
    color: #ffffff;
    top: 0;

}

header h2 {
    padding: 0.2em;
    text-align: center;
    margin: 0 auto 0 auto;


}

header img[alt="settings"] {
    width: 2em;
    height: 2em;
    margin: -3.2em 0.5em;
    padding: 0;
    float: right;
}

header img[alt="back"] {
    width: 2em;
    height: 2em;
    margin: 1.2em 0.5em;
    padding: 0;
    float: left;
}


/*Search page*/

section#matches {
    background-color: #ffffff;
    padding: 1em;
    margin: 0 auto;
    max-width: 35em;

}

section#matches h3 {
    padding: 0;
    margin: .5em auto;
    color: #ebbab5;
}

section#matches img {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    overflow: hidden;
    margin: .5em;
}

section#interesses {
    background-color: #fff8f3;
    padding: 1.5em 1.5em;
    max-width: 35em;
    margin: 0 auto;
    border-radius: .75em;
}

section#interesses h3 {
    color: #ebbab5;
    margin: .3em 0 1.3em 0;
}

section#interesses article {
    background-color: #ffffff;
    border-radius: 1em;
    justify-content: center;
    margin-bottom: 4em;
}

section#interesses article img.interest {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
}

section#interesses article div {
    background-color: #ffffff;
    display: flex;
    height: 3.5em;
    justify-content: space-around;
    margin-top: 0;
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
}

section#interesses article div img {
    width: 1.2em;
    height: 1.2em;
    margin: auto;
}

section#interesses article div img[alt="like"] {
    width: 1.4em;
    height: 1.4em;

}

section#interesses div img[alt="dislike"] {
    width: 1.2em;
    height: 1.2em;

}

section#interesses article h4 {
    color: #ffffff;
    margin: -2.5em 0 1em .5em;

}

/* Notifications page */

section#notifications {
    background-color: #ffffff;
    padding: 1em;
    margin: 0 auto;
    max-width: 35em;
}


section#notifications article {
    display: flex;
}

section#notifications article p {
    margin: auto 0;
    color: #e1a799;
}

section#notifications article img {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    overflow: hidden;
    margin: 1em;
}


/* Profile page */

section#profile {
    text-align: center;
}

section#profile img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 1em;
    padding: 0;
}

section#profile div {
    margin-bottom: 1.5em;
}

section#profile div p {
    padding: 0;
    margin: 0;
    color: #ebbab5;
}

section#your_interests {
    background-color: #fff8f3;
    padding: 1.5em 1em;
    max-width: 40em;
    margin: 0 auto;
    border-radius: .75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .8em;
}

section#your_interests h3 {
    color: #ebbab5;
    margin: 0em 0 0em 0;
    grid-column: 1/3;
}

section#your_interests article {
    border-radius: 1em;
    justify-content: center;
    margin-bottom: 4em;
}

section#your_interests article img:first-child {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    border-radius: .75em;
}

section#your_interests article div {
    display: flex;
    justify-content: center;
}

section#your_interests article div h4 {
    color: #ffffff;
    margin: -2.2em 0 0 .5em;
    padding: 0;
    word-break:break-all;
    line-height: 1em;
}

section#your_interests article div img {
    width: 1.3em;
    height: 1.3em;
    margin: -2.5em .75em 0em auto;
    padding: 0;

}

/* Settings page */

section#settings {
    background-color: #fff8f3;
    color: #ebbab5;
    padding: 0 1em 1em 1em;
}

section#settings form img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 1em auto;
    padding: 0;
}

section#settings form fieldset {
    border: none;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    max-width: 25em;
}

section#settings form fieldset label {
    margin: 0.3em 0 0.3em;
}

section#settings form fieldset input {
    padding: .7em .7em .7em 1em;
    width: 100%;
    border-radius: 2em;
    border: none;
    font-family: 'Avenir_Light';
    font-size: 90%;
}


section#settings form fieldset [type=submit] {
    font-family: 'Avenir_Light';
    font-size: 1em;
    background-color: #c58747;
    color: #ffffff;
    padding: .7em 0;
    border-radius: 2em;
    margin: 1.5em auto;
    width: 100%;
    border: none;
}






/* Footer menu */

footer {
    box-shadow: 0 0 0.625em 0 rgba(0, 0, 0, .15);
    padding: .7em 0em .7em 1em;
    background-color: #ffffff;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

footer nav ul li a img {
    max-height: 1.4em;
    margin-right: 1.2em;
    display: block;
}

footer nav ul li a img:hover {
    opacity: .6;
    transition: .2s linear;
}

footer nav ul {

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
